
<!DOCTYPE html>
<html>
  <head>
    <title>All Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('../partials/header') %>
    <h2>All Flights</h2>
    <table id="list">
      <thead>
        <tr>
          <th>Airline</th>
          <th>Airport</th>
          <th>Flight Number</th>
          <th>Departure Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% flights.forEach(function(f) { %>
          <tr>
            <td><%= f.airline %></td>
            <td><%= f.airport %></td>
            <td><%= f.flightNo %></td>
            <td><%= f.departs %></td>
            <td><a href="/flights/<%= f._id %>">Details</a></td>
          </tr>
          <% }) %>
      </tbody>
    </table>
    <!-- <h4><a href="/flights/new">Add new flight</a></h4> -->
  </body>
</html>