
<html>
  <head>
    <title>Flights</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
<body>
  <section>
  
    
    <h1>Flight Details</h1>
    <table>
      <thead>
        <tr>
          <th>Airline</th>
          <th>Flight Number</th>
          <th>Departs</th>
          <th>Departure Airport</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= flight.airline %></td>
          <td><%= flight.flightNo %></td>
          <td><%= flight.departs %></td>
          <td><%= flight.airport %></td>
        </tr>
      </tbody>
    </table>
  </section>

  <h2>Destinations</h2>
  <table>
    <thead>
      <tr>
        <th>Airport</th>
        <br>
        <th>Arrival</th>
      </tr>
    </thead>
    <tbody>
      <% flight.destinations.forEach(function(d) { %> 
         <tr>
        <td><%= d.airport %> </td>
        <td><%= d.arrival %> </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <br>

  

  <h3>Add Destination</h3>
  <form id="add-destinaiton" action="/flights/<%=flight._id%>/destinations" method="POST">
    <label>Destination Airport:</label>
      <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
      </select>
    <label>Arrival:</label>
    <input type="datetime-local" name="arrival">
    <button type="submit" name="Add Destination">SUBMIT</button>
  
  </form>















  </body>
</html>
